html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ul {
  padding: 0;
  margin: 0;
}
.bg {
  background-image: url("./assets/images/벚꽃배경1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  /**가운데 정렬 */
}
.delete {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  background-image: url("./assets/images/Delete.png");
  background-repeat: no-repeat;
}
input {
  width: 200px;
  height: 32px;
  padding-left: 6px;
  border-radius: 4px;
}
.title {
  margin-top: 50px;
  color: #e8344e;
}
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button-add {
  width: 36px;
  height: 36px;
  margin-left: 10px;
  background-image: url("./assets/images/Bucket_Plus.png");
  background-repeat: no-repeat;
}
.msg {
  color: white;
  margin-bottom: 48px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bucketList {
  display: flex;
  max-width: 620px;
  min-width: 360px;
  flex-direction: row;
  flex-wrap: wrap;
}

.bucket {
  cursor: pointer;
  width: 160px;
  height: 160px;
  background-size: cover;
  background-position: center;
  margin: 8px;
  position: relative;

  font-weight: bold;
  font-size: 16px;
  text-align: center;
  word-break: keep-all;
}

.done::after {
  content: "";
  width: 107px;
  height: 70px;
  background-image: url("./assets/images/Done.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 25%;
  animation: scale-out 0.2s ease-in-out 1;
}
.img1 {
  background-image: url("./assets/images/Bucket01.png");
  color: white;
}

.img2 {
  background-image: url("./assets/images/Bucket02.png");
  color: #e8344e;
}

.img3 {
  background-image: url("./assets/images/Bucket03.png");
  color: #e8344e;
}

.img4 {
  background-image: url("./assets/images/Bucket04.png");
  color: white;
}

.img5 {
  background-image: url("./assets/images/Bucket05.png");
  color: white;
}

.img6 {
  background-image: url("./assets/images/Bucket06.png");
  color: #e8344e;
}
@keyframes scale-out {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes scale-out {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
